/* chat.component.css */

.chat {
    overflow-y: auto;
    max-height: 750px;
}

.message-container {
    display: flex;
    flex-direction: column; 
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-start;
    background-color: #2e2b2b;
}

.bot-message {
    align-self: flex-end;
    background-color: #9ad8a8;
    color: #383434;
}

.sender-name {
    font-weight: bold;
}

.message-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}
.message-input button:hover {
    background-color: #7d9c44;
}

.fondo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
