<app-nav></app-nav>
<div class="chat">
    <div class="fondo-container" *ngIf="showBackground">
        <img src="assets/fondo.png" alt="fondo" class="fondo">
    </div>
    <div *ngFor="let message of messages" class="message-container" [ngClass]="{'user-message': message.sender === 'savedUsername', 'bot-message': message.sender === 'RecipeBot'}">
        <div class="message" [ngClass]="{'user-message': message.sender === 'savedUsername', 'bot-message': message.sender === 'RecipeBot'}">
            <div class="sender-name">{{ message.sender }}</div>
            <div class="message-content">{{ message.content }}</div>
            <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
    </div>
</div>
<div class="message-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." (keyup.enter)="sendMessage()">
    <button mat-fab>
        <mat-icon>image</mat-icon>
    </button>
    <button mat-fab>
        <mat-icon>send</mat-icon>
    </button>
</div>
<app-footer></app-footer>
