<app-nav></app-nav>

<mat-card class="about-card">
    <div class="banner-container">
        <img src="assets/animation_3.gif" alt="Banner" class="banner-image">
    </div>
    <mat-card-content class="about-content">
        <p class="about-description">Recipe.io is an innovative digital assistant designed to make your cooking experience easier and more enjoyable. With Recipe.io, you can identify various fruits quickly and accurately using your device's camera or by entering their names. Access a vast database of recipes tailored to the fruits you've identified, ranging from classic favorites to creative culinary creations. Find nutritional information, cooking tips, and serving suggestions for each recipe. Save your favorite recipes for future reference and share them with friends and family. Whether you're a seasoned chef or a kitchen novice, Recipe.io is your ultimate cooking companion, helping you explore new flavors and discover delicious dishes with ease.</p>
        <mat-list class="about-list">
            <mat-list-item>
                <div class="list-item-content">
                    <mat-icon mat-list-icon>camera_alt</mat-icon>
                    <div mat-line>Identify various fruits quickly or by entering their names.</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="list-item-content">
                    <mat-icon mat-list-icon>restaurant_menu</mat-icon>
                    <div mat-line>Access a vast database of recipes tailored to the fruits you've identified, ranging from classic favorites to creative culinary creations.</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="list-item-content">
                    <mat-icon mat-list-icon>info</mat-icon>
                    <div mat-line>Find nutritional information, cooking tips, and serving suggestions for each recipe.</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="list-item-content">
                    <mat-icon mat-list-icon>favorite</mat-icon>
                    <div mat-line>Save your favorite recipes for future reference and share them with friends and family.</div>
                </div>
            </mat-list-item>
        </mat-list>
        <p class="about-footer">Whether you're a seasoned chef or a kitchen novice, Recipe.io is your ultimate cooking companion, helping you explore new flavors and discover delicious dishes with ease.</p>
    </mat-card-content>
</mat-card>

<app-footer></app-footer>


