@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Jersey 20', sans-serif;
}

.logo {
    max-width: 450px;
    margin-bottom: 10px;
}

mat-form-field {
    font-size: 40px;
    width: 600px;
    margin-bottom: 40px;
}

.mat-toolbar {
    background-color: rgb(154, 182, 91);
    color: rgb(0, 0, 0);
}
