.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 400px; /* Ajusta el tamaño del logo según sea necesario */
    margin-bottom: 20px; /* Espacio entre el logo y el campo de entrada */
}

mat-form-field {
    font-size: 40px;
    width: 600px; /* Ancho del campo de entrada */
    margin-bottom: 40px; /* Espacio entre el campo de entrada y el botón */
}

button {
    width: 150px; /* Ancho del botón */
}
