.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 300px; 
    margin-bottom: 20px;
}

mat-form-field {
    font-size: 40px;
    width: 600px;
    margin-bottom: 40px;
}

button {
    width: 150px;
}
